@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;600;700&display=swap');

@theme {
    /* Fonts */
    --font-inter: "Inter", sans-serif;
    --font-playfair: "Playfair Display", serif;

    /* Colors */
    --color-primary: #687D5D;
    --color-primary-dark: #325D1B;
    --color-primary-darker: #1F420D;

    --color-accent: #F8F41C;

    --color-background: #FCFCFC;
    --color-background-alt: #FBF5EB;
    --color-surface: #FEFEFE;

    --color-secondary: #F2E5D2;
    --color-primary-light: #DBECD2;

    --color-text-muted: #A5A5A5;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-inter);
    background-color: #FFFEFC;
}

.hero {
    background-image: url(./assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card {
    box-shadow: 0 4px 10px rgba(155, 155, 155, 0.25);
    transition: transform 0.6s ease;
}

.card:hover {
    transform: scale(1.04);
    border: 2px solid var(--color-primary-light);
}

.sobre {
    background-image: url("assets/ramo.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 160px;
}

@media (max-width: 768px) {
    .sobre {
        background-image: none;
    }
}